<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.roftwaremanage.LabManagement.dao.ArrangeMapper">
    <!-- 添加Emp数据,parameterType -->
   
<select id="searcharrange" parameterType="String" resultType="com.njust.roftwaremanage.LabManagement.entity.Arrange">
        select * from arrange where arrange_id=#{arrange_id}
    </select>
    <select id="findarrangebyname" parameterType="String" resultType="com.njust.roftwaremanage.LabManagement.entity.Arrange">
        select * from arrange where name_exp=#{name_exp}
    </select>
<select id="getexpname" resultType="String">
        select distinct name_exp from arrange 
    </select>
    <select id="findarrangebytime" parameterType="int" resultType="com.njust.roftwaremanage.LabManagement.entity.Arrange">
        select * from arrange where startime=#{startime} and endtime=#{endtime}
    </select>
    <select id="findarrangeAllinoneday" parameterType="int" resultType="com.njust.roftwaremanage.LabManagement.entity.Arrange">
        select * from arrange where week=#{week} and day=#{day}
    </select>
    <insert id="addarrange" parameterType="com.njust.roftwaremanage.LabManagement.entity.Arrange">
        insert into arrange(start,end,name_exp,address,teacher_id,number_use,isShared,week,day)
        values (#{start},#{end},#{name_exp},#{address},#{teacher_id},
                #{number_use},#{isShared},#{week},#{day})
    </insert>
</mapper>