<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.njust.roftwaremanage.LabManagement.dao.MagMapper">
    <select id="findMag" parameterType="com.njust.roftwaremanage.LabManagement.entity.Mag" resultType="com.njust.roftwaremanage.LabManagement.entity.Mag">
        SELECT * FROM mag WHERE `type`=#{type} AND targetId=#{targetId}
    </select>
    <delete id="deleteMag" parameterType="String">
        DELETE FROM mag WHERE id=#{id}
    </delete>
</mapper>