<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.roftwaremanage.LabManagement.dao.TeacherMapper">
    <!-- 添加Emp数据,parameterType -->
    <select id="findteacherbyid" parameterType="String" resultType="com.njust.roftwaremanage.LabManagement.entity.Teacher">
        select * from teacher where teacher_id=#{teacher_id}
    </select>

</mapper>